@import "./variables.module.scss";

div.react-datepicker-wrapper  {
    //visibility: hidden;
    //appearance: none;
    justify-self: end;
    grid-column: 2/span 1;
    display: block;
    width: auto;
    height: 35px;
    border: none;
    border-radius: 15px;
    
    & > div {
        display: flex;
        width: auto;
        align-items: stretch;
        height: 100%;

        & > input[type='text'] {
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left: 10px;
            height: auto;
            background-color: #ddd;
            border: 2px solid $color-dark;
            border-radius: 15px;
        }
    }
}

