@import "../../../../define.scss";

.confirmation_dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    display: block;
    width: 50vw;
    height: 35vh;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 6px $color-dark;
    overflow: hidden;
    opacity: 1;
    z-index: 301;
    
    &:not([open]) {
        display: none;
    }

    * {
        font-family: $primary-font, $secondary-font, sans-serif;
        font-size: large;
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 1fr 25%;
        width: 100%;
        height: 100%;
        
        & > *:not(button, a) {
            background-color: #292b31;
            filter: brightness(100%);
        }

        h2 {
            grid-column: 1 / span 2;
            grid-row: 1 / span 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: $color-dark;
            border-bottom: 2px solid #000;
            color: $color2;
        }

        p {
            grid-column: 1 / span 2;
            width: 100%;
            height: 100%;
            padding: 15px;
            padding-bottom: 0;
            overflow: auto;
            color: $color2;
        }

        button, a {
            width: 100%;
            height: 100%;
            outline: none;
            transition: .3s;

            &:first-child{
                grid-column: 1 / span 1;    
            }
            &:last-child{
                grid-column: 2 / span 1;    
            }
            &:hover {
                filter: brightness(80%);
            }
        }

    }

    @media screen and (max-width : $query-tablet-width) {
        width: 60vw;
    }
    @media screen and (max-width : $query-phone-width) {
        width: 95vw;
    }
    @keyframes popdown {
        0% {
            opacity: 0;
            transform: translateX(-50%) translateY(-60%);
        }
        50%{
            opacity: 1;
            transform: translateX(-50%) translateY(-50%);
        }
        100% {
            opacity: 0;
            transform: translateX(-50%) translateY(-60%);
        }
    }

}