#navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  justify-items: end;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 1%;
  background: #242526;
  font-family: Arial;
}
#navbar .brand {
  justify-self: center;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 200px;
  background: #D1CFE2;
  cursor: pointer;
}
#navbar ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  width: 100%;
  height: 60px;
  font-size: large;
  list-style-type: none;
}
#navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0 20px;
  height: 100%;
  max-height: 100%;
  transition: 0.5s;
}
#navbar ul li:hover {
  background: #52B2CF;
}
#navbar ul button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 5%;
  width: 70%;
  max-width: 150px;
  height: 60%;
  background: #D1CFE2;
  border: none;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
#navbar ul button:hover {
  outline: 2px solid #52B2CF;
}
#navbar a {
  color: #D1CFE2;
  display: inline-block;
  width: auto;
  text-decoration: none;
}
#navbar button.navbar-toggler {
  display: none;
  justify-content: center;
  align-items: center;
  width: 70%;
  aspect-ratio: 1/1;
  border: 2px solid #7EC4CF;
  border-radius: 50%;
  background: #9CADCE;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  #navbar {
    grid-template-columns: 4fr 1fr;
  }
  #navbar .brand {
    justify-self: start;
    width: 90%;
  }
  #navbar button.navbar-toggler {
    display: flex;
    grid-column: 2/3;
  }
  #navbar button.navbar-toggler:focus + ul {
    left: 0;
  }
  #navbar ul {
    justify-self: center;
    position: absolute;
    top: 0;
    left: -60vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto 70%;
    gap: 5px;
    padding-top: 10px;
    background: rgba(113, 171, 228, 0.5);
    border: 3px solid #242526;
    width: 60vw;
    height: 100vh;
    transition: 0.5s;
  }
  #navbar ul button {
    grid-row: 1/2;
    justify-self: center;
    height: 50px;
  }
  #navbar ul li {
    max-height: 45px;
    height: 45px;
  }
  #navbar ul li a {
    color: #242526;
  }
}

#todo_records {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 2%;
  width: 100%;
  height: 100%;
}
#todo_records .todo-record-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: auto;
  aspect-ratio: 16/8;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#e77e28, #ea924a, #ea924a, #ea924a, #eee);
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 9px #242526;
  cursor: pointer;
  transition: 0.5s;
}
#todo_records .todo-record-card:hover {
  transform: translateX(-4px) translateY(-4px);
  box-shadow: 4px 4px 0px #242526;
}
#todo_records .todo-record-card .title {
  font-size: larger;
}
#todo_records .todo-record-card ul.control-buttons {
  display: flex;
  width: 60%;
  height: 40px;
  border-radius: 15px;
}
#todo_records .todo-record-card ul.control-buttons * {
  width: 33%;
  height: 100%;
}
#todo_records .todo-record-card ul.control-buttons *:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#todo_records .todo-record-card ul.control-buttons *:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
@keyframes todo-record-animation {}

.success-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: #8fb866;
}
.success-btn:hover {
  animation: btn-hover 0.5s ease infinite alternate;
}
@keyframes btn-hover {
  50% {
    border: 1px solid #242526;
  }
  100% {
    border: 2px solid #242526;
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #242526;
  }
}

.info-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: #bad7e3;
}
.info-btn:hover {
  animation: btn-hover 0.5s ease infinite alternate;
}
@keyframes btn-hover {
  50% {
    border: 1px solid #242526;
  }
  100% {
    border: 2px solid #242526;
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #242526;
  }
}

.warning-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: #d7bf77;
}
.warning-btn:hover {
  animation: btn-hover 0.5s ease infinite alternate;
}
@keyframes btn-hover {
  50% {
    border: 1px solid #242526;
  }
  100% {
    border: 2px solid #242526;
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #242526;
  }
}

.danger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background: #cf6352;
}
.danger-btn:hover {
  animation: btn-hover 0.5s ease infinite alternate;
}
@keyframes btn-hover {
  50% {
    border: 1px solid #242526;
  }
  100% {
    border: 2px solid #242526;
    transform: translateY(-3px);
    box-shadow: 0 3px 0 #242526;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  width: 100%;
  height: 100vh;
}

body {
  display: block;
  margin: 0px;
  width: 100%;
  height: 100vh;
}
body #root {
  display: block;
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
