@import "define.scss";
@import "navbar.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    display: block;
    width: 100%;
    height: 100vh;
}

body {
    display: block;
    margin: 0px;
    width: 100%;
    height: 100vh;
}
