#navbar {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  justify-items: end;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 1%;
  background: #242526;
  font-family: Arial;
  z-index: 99;
}
#navbar .brand {
  justify-self: center;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 200px;
  background: #D1CFE2;
  cursor: pointer;
}
#navbar ul {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
  width: 100%;
  height: 60px;
  font-size: large;
  list-style-type: none;
  z-index: 99;
}
#navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 0 20px;
  height: 100%;
  max-height: 100%;
  transition: 0.5s;
}
#navbar ul li:hover {
  background: #52B2CF;
}
#navbar ul button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0% 5%;
  width: 70%;
  max-width: 150px;
  height: 60%;
  background: #D1CFE2;
  border: none;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
#navbar ul button:hover {
  outline: 2px solid #52B2CF;
}
#navbar a {
  color: #D1CFE2;
  display: inline-block;
  width: auto;
  text-decoration: none;
}
#navbar button.navbar-toggler {
  display: none;
  justify-content: center;
  align-items: center;
  width: 70%;
  aspect-ratio: 1/1;
  border: 2px solid #7EC4CF;
  border-radius: 50%;
  background: #9CADCE;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  #navbar {
    grid-template-columns: 4fr 1fr;
  }
  #navbar .brand {
    justify-self: start;
    width: 90%;
  }
  #navbar button.navbar-toggler {
    display: flex;
    grid-column: 2/3;
  }
  #navbar button.navbar-toggler:focus + ul {
    left: 0;
  }
  #navbar ul {
    justify-self: center;
    position: fixed;
    top: 0;
    left: -60vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto 70%;
    gap: 5px;
    padding-top: 10px;
    background: rgba(113, 171, 228, 0.7);
    border: 3px solid #242526;
    width: 60vw;
    height: 100%;
    transition: 0.5s;
  }
  #navbar ul button {
    grid-row: 1/2;
    justify-self: center;
    height: 50px;
  }
  #navbar ul li {
    max-height: 45px;
    height: 45px;
  }
  #navbar ul li a {
    color: #242526;
  }
}

.modal {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-rows: 20% 1fr 15%;
  align-items: center;
  gap: 5px;
  width: 40vw;
  height: auto;
  min-height: 20vh;
  max-height: 35vh;
  background-color: #ccc;
  box-shadow: 0 0 6px #242526;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 199;
}
.modal > * {
  padding-inline: 15px;
}
.modal .title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #555;
  color: #242526;
}
.modal .content {
  padding: 5px 15px;
  overflow: auto;
}
.modal ul.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  gap: 5px;
  list-style-type: none;
}
.modal ul.buttons button, .modal ul.buttons a, .modal ul.buttons input[type=button], .modal ul.buttons input[type=submit] {
  min-width: 80px;
  padding: 10px 13px;
  border-radius: 10px;
  outline-color: rgba(0, 0, 0, 0);
  transition: outline-color 0.5s ease-in-out;
}
.modal ul.buttons button:hover, .modal ul.buttons a:hover, .modal ul.buttons input[type=button]:hover, .modal ul.buttons input[type=submit]:hover {
  outline: 2px solid rgba(0, 0, 0, 0);
  outline-color: #000;
}
.modal .cancel-X-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.modal .cancel-X-btn:hover {
  background-color: #fff;
}
@media screen and (max-width: 800px) {
  .modal {
    width: 60vw;
  }
}
@media screen and (max-width: 400px) {
  .modal {
    width: 90vw;
  }
}

.notification {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 40vw;
  height: auto;
  min-height: 10vh;
  padding-inline: 3%;
  background-color: rgba(204, 204, 204, 0.7333333333);
  box-shadow: 0 0 6px #242526;
  border: 2px dashed #242526;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 199;
}
.notification .cancel-X-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.notification .cancel-X-btn:hover {
  background-color: #fff;
}
@media screen and (max-width: 800px) {
  .notification {
    width: 60vw;
  }
}
@media screen and (max-width: 400px) {
  .notification {
    width: 90vw;
  }
}

.notification.success {
  background-color: #8fb866;
  opacity: 0.8;
}

.notification.warning {
  background-color: #d7bf77;
  opacity: 0.8;
}

.notification.info {
  background-color: #bad7e3;
  opacity: 0.8;
}

.notification.danger {
  background-color: #cf6352;
  opacity: 0.8;
}

.tooltip {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 1%;
  background-color: #bad7e3;
}
.tooltip form {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  height: 70%;
  width: auto;
  background-color: red;
}
.tooltip form * {
  padding: 0;
}
.tooltip form select[name=font] {
  grid-column: 1/span 2;
  height: 100%;
}
.tooltip form select[name=size] {
  grid-column: 3/span 1;
  height: 100%;
}
.tooltip form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tooltip form input[type=checkbox] {
  all: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  aspect-ratio: 1/1;
  background: rgba(0, 0, 0, 0);
  outline: 2px solid #242526;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tooltip form input[type=checkbox]:checked {
  background-color: #aaa;
}
.tooltip form input[type=checkbox]:hover {
  background: #fff;
}
.tooltip form details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  aspect-ratio: 1/1;
}
.tooltip form details summary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.tooltip form details summary:hover {
  background-color: #d0d0d0;
}
.tooltip form details input {
  position: absolute;
  width: 100%;
}

#new_todo_record {
  display: flex;
  flex-direction: column;
  height: max-content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: block;
  width: 100%;
  min-height: 97vh;
  height: auto;
}

body {
  display: block;
  margin: 0px;
  width: 100%;
  height: 100vh;
}
body #root {
  display: block;
  height: 100%;
  background-image: linear-gradient(#9CADCE, #D1CFE2);
}

/*# sourceMappingURL=index.css.map */
