@import "define.scss";
@import "navbar.scss";
//@import "todo_records_list.scss";
@import "modal.scss";
@import "./notification.scss";
@import "./new_todo_record.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    width: 100%;
    min-height: 97vh;
    height: max-content;
}

body {
    display: block;
    margin: 0px;
    width: 100%;
    height: max-content;

    #root {
        display: block;
        height: 100%;
        background-image: linear-gradient($color3, $color2);

    }
}
