@import "./variables.module.scss";

.tooltip {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 40px;
    background: #171515d2;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    z-index: 9;

    details.tool {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-basis: 1;
        overflow: visible;
        transition: .5s;

        &:hover {
            background: #8a8484d2;
        }

        &[data-search] {
            
            &[open] {
                & ~ details.tool {
                    ul {
                        display: none;
                    }
                }
            }

            .options {
                position: absolute;
                right: 0;
                display: grid;
                grid-template-columns: 4fr 1fr;
                gap: 1px;
                padding: 30px 20%; 
                width: 60vw;
                max-width: 95vw;
                

                * {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    height: 160%;
                    border-radius: 10px;
                    border: 2px solid $color-dark;
                    box-shadow: 0 0 4px $color-dark;
                }

                input[type=text] {
                    padding-inline: 10px;
                    outline: none;
                    border-width: 1px;
                }

                button[type=submit] {
                    border-width: 2px;
                    justify-content: center;
                    background-color: $color2;//#85d6dc;
                    cursor: pointer;
                }
                
                @media screen and (max-width : $query-tablet-width) {
                    width: 70vw;
                }
                @media screen and (max-width : $query-phone-width) {
                    width: 95vw;
                }
            }


        }

        &:nth-child(2) {
            border-right: 2px solid #000;
            border-left: 2px solid #000;
        }

        summary {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            color: #eee;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
        }

        .options {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            height: max-content;
            padding: 5% 0;
            overflow: hidden;
            list-style: none;
            background: #92daecb5;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border: 2px solid #000;
            font-family: Arial, Helvetica, sans-serif;
            transition: .5s;
            z-index: 99;

            * {
                display: flex;
                justify-content: center;
                height: 30px;
                width: 100%;
            }
        }
    }
}