@import "../../../../define.scss";

.modal {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: auto;
    min-height: 20vh;
    max-height: 260px;
    background-color: $color-dark;
    box-shadow: 0 0 6px $color-dark;
    border: solid 2px #000;
    border-radius: 15px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 199;

    & > * {
        padding-inline: 15px;
    }

    &:not([open]) {
        display: none;
    }

    div {
        display: grid;
        grid-template-rows: 20% 1fr 25%;
        align-items: center;
        //gap: 5px;
        width: 100%;
        height: 100%;
        
    .title {
        display: flex;
        align-items: center;
        font-family: 'Helvetica', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 100%;
        width: 100%;
        padding-inline: 20px;
        border-bottom: 1px solid $color2;
        color: $color2;
    }

    .content {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px 15px;
        overflow-y: auto;
        color: $color2;
        background-color: $color-dark;

        &::-webkit-scrollbar {
            width: 20px;
            
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
            background-color: $color2;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color1;
        }
    }

    ul.buttons {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 5px;
        padding: 0 5px;
        list-style-type: none;

        button, a, input[type=button],input[type=submit]  {
            min-width: 80px;
            //height: 50%;
            padding: 10px 13px;
            border-radius: 10px;
            outline-color: #0000;
            transition: outline-color .5s ease-in-out;

            &:hover {
                outline: 2px solid #0000;
                outline-color: #000;
            }
        }
    }
    
    .cancel-X-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        aspect-ratio: 1/1;
        background-color: #0000;
        border: none;
        border-radius: 50%;
        transition: .5s;
        cursor: pointer;

        &:hover {
            background-color: #fff;
        }
    }

    }
    
    @media screen and (max-width : $query-tablet-width) {
        width: 60vw;
    }
    @media screen and (max-width : $query-phone-width) {
        width: 95vw;
    }
}