@import "./variables.module.scss";

p.editable-field {
    //all: unset;
    position: relative;
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    display: block;
    height: max-content;
    min-height: 20vh;
    padding: 10px 20px;
    font-family: 'Segoe UI', 'Segoe UI Bold', 'Segoe UI Light', Arial, sans-serif;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: $color-dark;
    outline: none !important;
    cursor: text;
    background-color: #ddd0;
    border: none;
    border-radius: 0 0 15px 15px;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 90%;
        height: 2px;
        background: $color-dark;

    }
}

p.placeholder {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #777;
    z-index : 2;
    font-family: 'Segoe UI', 'Segoe UI Bold', 'Segoe UI Light', Arial, sans-serif;
    font-size: 28px;
}