@import "./variables.module.scss";

form.new_collection_modal_form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
    width: 100%;
    height: 100%;

    label {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        input {
            box-shadow: 0 0 6px $color-dark;
        }

        input[type='text'] {
            display: flex;
            justify-content: center;
            padding-inline: 10px;
            height: 30px;
            width: auto;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 20px;
        }
        &.color-picker {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 10px;
            width: 100%;

            input[type="color"] {
                appearance: none;
                display: none;
                //background-image: url("/src/assets/icons/color-input-component-icon.png");
                width: 50%;
                height: 30px;
                border-radius: 10px;
            }
            .custom-input-color {
                display: flex;
                justify-content: center;
                width: 50%;
                height: 40px;
                background-color: #fff;
                border-radius: 10px;
            }
        }
    }
}