@import "./variables.module.scss";

#new_todo_record {
    display: grid;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 1fr auto;
    gap: 10px;
    height: max-content;
    margin-top: $tooltip-height;
    padding-bottom: 30px;

    

    & > form {
        grid-column: 1/span 3;
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
        height: auto;
        width: 100%;
        gap: 10px;
        padding: max(1%, 10px);

        & input, button, a, p, select {
            box-shadow: 0 0px 3px #000;
        }
        
        & > label {
            display: flex;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
        }

        & > label.record-title,
        & > label.record-content {
            grid-column: 1/span 3;
            display: flex;
            flex-direction: column;
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            & > h2 {
                padding: 5px 10px;
            }
        }
        & > label.record-title {

            & > input {
                height: auto;
                padding: 10px 20px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 28px;
                color: $color-dark;
                background-color: #ddd;
                border: none;
                border-radius: 15px;
            }
            
        }

        .select-collection {
            position: relative;
            grid-column: 1/span 1;
            display: grid;
            grid-template-columns: max-content 1fr;
            justify-content: end;
            align-items: center;
            gap: 10px;
            padding: 20px;
            justify-content: start;
            width: 100%;
            min-width: 20%;
            height: auto;
        
            details {
                position: relative;
                grid-column: 2 / span 1;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 35px;
        
                summary {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    padding-inline: 2%;
                    background-color: #ddd;
                    border: 2px solid $color-dark;
                    border-radius: 15px;
                    overflow: hidden;
                }
            }
                        
            @media screen and (max-width : $query-tablet-width) {
                & > * {
                    grid-column: 1/span 2;
                }
            }

            @media screen and (max-width : $query-phone-width) {
                grid-column: 1/span 3;
            }

        }
        

        & > .end-date {
            position: relative;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: end;
            align-items: center;
            gap: 10px;
            padding: 20px;
            justify-content: start;
            width: 100%;
            min-width: 20%;
            height: auto;
            z-index: 0;
        }

        & > .end-date {
            grid-column: 3/span 1;
            z-index: 0;


            @media screen and (max-width : $query-phone-width) {
                grid-column: 1/span 3;
            }

            
        }

        & > button, & > a {
            grid-column: 2/span 1;
            //grid-row: 4/span 1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: max-content;
            width: 50%;
            height: auto;
            padding: 10px 20px;
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-decoration: none;
            color: $color-dark;
            transition: .5s;
            cursor: pointer;
            
            &:hover {
                filter: brightness(70%);
                box-shadow: 0 0 7px $color-dark;
            }

            &.success-btn {
                justify-self: end;
                grid-column: 1/span 1;
                background-color: $color4;
                border: 2px solid $color4;
            }
            &[name='cancel']{
                justify-self: start;
                grid-column: 3/span 1;
                border: 2px solid #dbdbdb;
                background-color: #dbdbdb;
            }
            
        }
    }

    @media screen and (max-width : $query-phone-width) {
        grid-template-rows: 1fr auto auto;

        & > form {
            & > button, & > a {
                width: 70%;

                &.success-btn {
                    justify-self: center;
                    grid-column: 1/span 3;
                    //grid-row: 2/3;
                }
                &.secondary-btn {
                    justify-self: center;
                    grid-column: 1/span 3;
                    //grid-row: 3/4;
                }
            }
            
        }
    }
    
}