$color1: #D4AFB9;
    $color2: #D1CFE2;
    $color3: #9CADCE;
    $color4: #7EC4CF;
    $color5: #52B2CF;

    $color-danger: #cf6352;
    $color-info: #bad7e3;
    $color-dark: #242526;
    $color-success: #8fb866;
    $color-warning: #d7bf77;
    $color-secondary: #dbdbdb;

    $query-phone-width: 400px;
    $query-tablet-width: 800px;
    $query-desktop-width: 1000px;